@{
    ViewBag.Title = "Home Page";
}

<div class="col-12">
    <form method="post" @Url.Action("index", "Home")>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="inputCity">Seleccione tipo de producto</label>
                <select id="inputproductType" class="form-control" name="model.DocumentType">
                    <option value="1">Productos POP</option>
                    <option value="2">Producto personalizado</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label for="inputCity">Nombre del producto</label>
                <select id="inputState" class="form-control" name="model.DocumentType">
                    <option value="1">Producto 1</option>
                    <option value="2">Producto 2</option>
                    <option value="3">Producto 3</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 form-group"></div>
            <div class="col-md-3 form-group">
                <input type="number" class="form-control" id="inputAddress" placeholder="cantidad" required />
            </div>
            <div class="col-md-3 form-group">
                <a class="btn btn-success">+</a>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 form-group">
                <textarea placeholder="Ingrese las especificaciones del producto" style="width:100%; height: 200px"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="inputdesing">Nombre diseño</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Nombre de su diseño" required />
            </div>
            <div class="col-md-6 form-group">
                <label for="inputdesing">Adjuntar archivo</label>
                <input type="file" class="form-control" id="inputAddress" required />
            </div>
        </div>

        <button type="submit" class="btn btn-primary float-right" style="float: right;margin-right: 15px;">Enviar cotización</button>
    </form>
</div>
